#first {
    background-color: cornflowerblue;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 70px;
    margin: 20px;
}

#second{
    background-color: crimson;
}